trunk/examples/009_jms/src/main/resources/META-INF/jencks-2.1.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://jencks.org/2.1'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://jencks.org/2.1'>

  <!-- element for type: org.jencks.factory.BootstrapContextFactoryBean -->
  <xs:element name='bootstrapContext'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A Spring {@link FactoryBean} for creating a {@link GeronimoBootstrapContext} for the JCA container
with the {@link WorkManager} and {@link XATerminator}.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='workManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='threadPoolSize' type='xs:integer'/>
      <xs:attribute name='transactionManager' type='xs:string'/>
      <xs:attribute name='workManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.factory.ConnectionFactoryFactoryBean -->
  <xs:element name='connectionFactory'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='connectionManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='managedConnectionFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='connectionManager' type='xs:string'/>
      <xs:attribute name='managedConnectionFactory' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.factory.ConnectionManagerFactoryBean -->
  <xs:element name='connectionManager'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        This FactoryBean creates a local JCA connection factory outside
a J2EE application server.
<p/>
The connection manager will be then injected in the
LocalConnectionFactoryBean, class of the JCA support of Spring.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='connectionTracker' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Set the connection tracker for the Geronimo Connection Manager.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='poolingSupport' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Set the pooling support for the Geronimo Connection Manager.
Geronimo provides two kinds of pool: single and partitioned.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='subjectSource' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Set the transaction manager for the Geronimo Connection Manager.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionSupport' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Set the transaction support for the Geronimo Connection Manager.
Geronimo provides in this case three kinds of support like the
JCA specification: no transaction, local transactions, XA transactions.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='allConnectionsEqual' type='xs:boolean'/>
      <xs:attribute name='connectionMaxIdleMinutes' type='xs:integer'/>
      <xs:attribute name='connectionMaxWaitMilliseconds' type='xs:integer'/>
      <xs:attribute name='connectionTracker' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Set the connection tracker for the Geronimo Connection Manager.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='containerManagedSecurity' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Enables/disables container managed security
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='partitionStrategy' type='xs:string'/>
      <xs:attribute name='poolMaxSize' type='xs:integer'/>
      <xs:attribute name='poolMinSize' type='xs:integer'/>
      <xs:attribute name='pooling' type='xs:boolean'/>
      <xs:attribute name='poolingSupport' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Set the pooling support for the Geronimo Connection Manager.
Geronimo provides two kinds of pool: single and partitioned.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='subjectSource' type='xs:string'/>
      <xs:attribute name='transaction' type='xs:string'/>
      <xs:attribute name='transactionManager' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Set the transaction manager for the Geronimo Connection Manager.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='transactionSupport' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Set the transaction support for the Geronimo Connection Manager.
Geronimo provides in this case three kinds of support like the
JCA specification: no transaction, local transactions, XA transactions.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.factory.ConnectionTrackerFactoryBean -->
  <xs:element name='connectionTracker'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='geronimoTransactionManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='geronimoTransactionManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.JCAConnector -->
  <xs:element name='connector'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Represents a connector in the JCA container - which represents a single
activation specification on a resource adapter
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='activationSpec' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='beanFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='bootstrapContext' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='endpointFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='jcaContainer' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:jcaContainer'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='acknowledgeType' type='xs:string'/>
      <xs:attribute name='activationSpec' type='xs:string'/>
      <xs:attribute name='beanFactory' type='xs:string'/>
      <xs:attribute name='beanName' type='xs:string'/>
      <xs:attribute name='bootstrapContext' type='xs:string'/>
      <xs:attribute name='endpointFactory' type='xs:string'/>
      <xs:attribute name='jcaContainer' type='xs:string'/>
      <xs:attribute name='ref' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Returns the name of the MessageListener POJO in Spring
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='resourceAdapter' type='xs:string'/>
      <xs:attribute name='transactionManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.tranql.DataSourceMCF -->
  <xs:element name='dataSourceMCF'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='logWriter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='loginTimeout' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='driverName' type='xs:string'/>
      <xs:attribute name='logWriter' type='xs:string'/>
      <xs:attribute name='loginTimeout' type='xs:string'/>
      <xs:attribute name='password' type='xs:string'/>
      <xs:attribute name='url' type='xs:string'/>
      <xs:attribute name='user' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.JCAConnectorLifecycleFactory -->
  <xs:element name='jCAConnectorLifecycleFactory'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A factory bean for Jencks JCAConnector classes that can also manage
the lifecycle (i.e. start/stop) of a JCAConnector. This is necessary
because the JCAConnector class does not provide any means for starting
and stopping message consumption.
<p>
Represents a factory class that can be configured once, and then used
multiple times to return lightweight JCAConnector objects that can be
independently stopped and started.
<p>
This can be useful when JCAConnector's need to be configured via a
dependency injection container. The container should be used to
configure a JCAConnectorLifecycleFactory instead, and classes can
then use this class to obtain the JCAConnector's, start them, and stop
them.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='activationSpec' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='beanFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='bootstrapContext' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='endpointFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='jcaContainer' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:jcaContainer'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='activationSpec' type='xs:string'/>
      <xs:attribute name='beanFactory' type='xs:string'/>
      <xs:attribute name='beanName' type='xs:string'/>
      <xs:attribute name='bootstrapContext' type='xs:string'/>
      <xs:attribute name='endpointFactory' type='xs:string'/>
      <xs:attribute name='jcaContainer' type='xs:string'/>
      <xs:attribute name='ref' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Returns the name of the MessageListener POJO in Spring
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='resourceAdapter' type='xs:string'/>
      <xs:attribute name='transactionManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.JCAContainer -->
  <xs:element name='jcaContainer'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Represents a base JCA container which has no dependency on Geronimo
and requires a mandatory {@link BootstrapContext} and {@link ResourceAdapter}
properties to be configured.
<p/>
Typically Spring users will use the {@link BootstrapContextFactoryBean} to create
the {@link BootstrapContext} instance, with the work manager and transaction manager.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='applicationContext' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='bootstrapContext' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAdapter' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='workManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='applicationContext' type='xs:string'/>
      <xs:attribute name='bootstrapContext' type='xs:string'/>
      <xs:attribute name='lazyLoad' type='xs:boolean'/>
      <xs:attribute name='resourceAdapter' type='xs:string'/>
      <xs:attribute name='threadPoolSize' type='xs:integer'/>
      <xs:attribute name='transactionManager' type='xs:string'/>
      <xs:attribute name='workManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.factory.PoolingSupportFactoryBean -->
  <xs:element name='poolingSupport'>
    <xs:complexType>
      <xs:attribute name='allConnectionsEqual' type='xs:boolean'/>
      <xs:attribute name='connectionMaxIdleMinutes' type='xs:integer'/>
      <xs:attribute name='connectionMaxWaitMilliseconds' type='xs:integer'/>
      <xs:attribute name='partitionStrategy' type='xs:string'/>
      <xs:attribute name='poolMaxSize' type='xs:integer'/>
      <xs:attribute name='poolMinSize' type='xs:integer'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.TargetSourceMessageListener -->
  <xs:element name='targetSourceMessageListener'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Represents a pool of MessageListener instances using Spring's
TargetSource for the underlying pool.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='targetSource' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='targetSource' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.factory.TransactionManagerFactoryBean -->
  <xs:element name='transactionManager'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        This FactoryBean creates and configures the Geronimo implementation
of the TransactionManager interface.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='resourceManagers' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Set the resource managers
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionLog' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Set the transaction log for the transaction context manager.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='xidFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='defaultTransactionTimeoutSeconds' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Set the default transaction timeout in second.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='transactionLog' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Set the transaction log for the transaction context manager.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='transactionLogDir' type='xs:string'/>
      <xs:attribute name='xidFactory' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.jencks.factory.WorkManagerFactoryBean -->
  <xs:element name='workManager'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        A Spring {@link FactoryBean} for creating a {@link GeronimoWorkManager} using a {@link GeronimoTransactionManager}.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='threadPool' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='threadPool' type='xs:string'/>
      <xs:attribute name='threadPoolSize' type='xs:integer'/>
      <xs:attribute name='transactionManager' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
